<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>Thanks.</h2>
			<button class="scroll" onclick='window.scrollTo({top: 0, behavior: "smooth"});'>Take me up.</button>
		</section>
		<section class="follow">
			<h2>Follow</h2>
			<ul>
				<li><a title="Linkedin" href="{{ site.linkedin }}" target="_blank">Linkedin</a></li>
				<li><a title="Twitter" href="{{ site.twitter }}" target="_blank">Twitter</a></li>
			</ul>
		</section>
		<section class="dotLogo">
			<img src="\assets\images\dotLogo.png">
		</section>
	</div>
</footer>
