---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ site.tagline }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="intro">
			<div class="container">
				<h2>Hi.</h2>
				<p>I am a 3D artist, designer, and architectural visualiser based in Raleigh, North Carolina. I have an Associates degree in Architectural Technology from Wake Technical Community College and I will be continuing my education on a path towards licensure.</p>
			</div>
		</section>
		<div class="containerImg">
			<img src="\assets\images\profilePicture.jpg">
		</div>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
    })
	</script>
</body>
</html>
